  <div [id] ="'aqlCodeEditor' + id" style="overflow: auto;">
    <ace-editor #editor
                [(text)]="text"
                [mode]="'aql'"
                [durationBeforeCallback]="500"
                (textChanged)="onTextChanged($event)"
                style="height:100%;">
    </ace-editor>
  </div>
  <div [id]="'aqlResultPanel' + id" style="overflow: auto;">
    <object-viewer [json]="queryResult" [queryError]="queryError"></object-viewer> 
  </div>

<code-hinter #hinter (optionSelected)="hinterOptionSelected($event)"></code-hinter>
