$main-grey: #3C3F41;
$background-grey: #323232;

.graphix-app {
    height: calc(100% - 28px);
  }
  
  .divider {
    height: 1px;
    right: 0;
    left: 0;
    background-color: #282828;
  }
  
  .tree {
    padding: 0;
    overflow: auto;
    background-color: $main-grey;
  }
  
  .tree::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $main-grey;
  }
  
  .tree::-webkit-scrollbar-corner {
    background-color: $main-grey;
  }
  
  .tree::-webkit-scrollbar-thumb {
    background-color: #272822;
  }
  
  .main-content {
    display: flex;
    flex-flow: column;
    background-color: $background-grey;
    padding: 0 !important;
  }
  