.tab {
    display: flex;
    height: 30px;
    line-height: 30px;
    width: 120px;
    background-color: #3C3E3F;
    color: white;
    font-size: smaller;
    font-weight: 200;
    margin-top: 1px;
    margin-left: 1px;
    cursor: default;
    -webkit-user-select: none;
  }

  .tab:hover {
    background-color: #515658;
  }

  .tab-active {
    background-color: #515658;
    height: 27px;
    border-bottom: solid 3px #4e84ed;
  }

  img {
    padding-top: 5px;
    padding-right: 2px;
    image-rendering: -webkit-optimize-contrast;
  }
  
  .close {
    margin-right: 5px;
    margin-left: auto;
    font-weight: 100;
  }