$main-grey: #3C3F41;
$background-grey: #323232;
$disabled-opacity: 0.3;

  .toolstrip {
    height: 25px;
    right: 0;
    left: 0;
    padding-left: 10px;
    background-color: $main-grey;
    border-bottom: solid 1px #282828;
    border-top: solid 1px #555555;
    color: lightgrey;
    display: flex;
  }

  .toolstrip-button {
    padding-top: 4px;
    width: 25px;
    height: 21px;
    text-align: center;
    -webkit-user-select: none;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
  }
  
  .default-button-state {
    @extend .toolstrip-button;
  }
  
  .default-button-state:hover {
    background-color: #464949;
  }
  
  .default-button-state:active {
    background-color: #767773;
  }

  .disabled-button-state {
    @extend .toolstrip-button;
    opacity: $disabled-opacity;
  }

  .on-button-state {
    @extend .toolstrip-button;
    background-color: #767773;
  }
  
  .menu-divider {
    width: 2px;
    background-color: #545454;
    margin: 2px 3px;
  }