  .maps-container {
    padding-left: 35%;
    padding-top: 12%;
  }

  .inline-el {
    display: inline-block;
  }
  
  .header {
    color: whitesmoke;
    font-weight: 100;
    font-size: smaller;
    min-width: 60px;
  }

  .spacer {
    height: 1em;
  }

  fieldset {
    width: 255px;
  }